div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div a{
  background-color: #212020;
  padding: 0.3rem 1rem;
  margin: 0.2rem 0.15rem;
  border-radius: 10rem;
  font-weight: 600;
}

a:link{
  color:rgb(154, 151, 151);
}

a:visited{
  color:rgb(154, 151, 151);
}

a:hover{
  color: #FF0000;
}

a:active{
  color: #FF0000
}

a:focus{
  color: #FF0000;
}

